{% load static %}

<footer class="bg-primary text-white mt-20">

<div class="max-w-7xl mx-auto py-14 px-6">

<div class="grid lg:grid-cols-4 gap-10">

<div>

<img
src="{% static 'images/logo1.png' %}"
class="h-20 mb-4">

<h3
class="font-bold text-xl">

Holy Trinity College

</h3>

<p class="mt-4">

Facere et Docere

</p>

</div>

<div>

<h3 class="font-semibold mb-4">

Quick Links

</h3>

<ul class="space-y-2">

<li><a href="#">Admissions</a></li>

<li><a href="#">Academics</a></li>

<li><a href="#">Gallery</a></li>

<li><a href="#">Contact</a></li>

</ul>

</div>

<div>

<h3 class="font-semibold mb-4">

Contact

</h3>

<p>PMB 1002, Nwaniba, Akwa Ibom</p>

<p>0813 164 6280</p>

<p>info@holytrinitycollege.edu.ng</p>

</div>

<div>

<h3 class="font-semibold mb-4">

Newsletter

</h3>

<form>

<input
type="email"
placeholder="Email Address"

class="w-full p-3 rounded text-black">

<button

class="mt-3 bg-white text-primary w-full p-3 rounded font-semibold">

Subscribe

</button>

</form>

</div>

</div>

<hr class="my-10 border-red-800">

<p class="text-center">

© {% now "Y" %} Holy Trinity College, Mbiakong. All Rights Reserved. <br>
Sponsored by 2008 Hotrico Alumni (The Great Achievers)

</p>

</div>

</footer>